.navbar {
    display: flex;
    position: relative;
    font-size: 18px;
    width: 100%;
    height: 69px;
    justify-content: flex-end;
    background: transparent;
}

.nav-search-bar {
    height: 60px;
}

.nav-bar-links {
    display: flex;
}

.link-button{
    font-size: 16px;
    text-decoration: none;
    float: right;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px 15px 20px;
    color: inherit;
    

}

.link-image{
    background-color: transparent;
}

a:visited, link:visited{
    text-decoration: none;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: flex;
    justify-content: flex-end;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.dropdown-content {
    width: 100px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 51px;
    transition: visibility 0s, opacity .35s ease-in-out;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.287);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);


    &:first-child{
        border-bottom: 1px solid rgba(240, 240, 240, 0.287);
    }
}


.signup-login-link {
    text-decoration: none;
    font-weight: normal;
    color: #39364f;
    // display: flexbox;
}

.logout-button{
    font-weight: normal;
    float: right;
}

.dropdown-content a:hover {
    cursor: pointer;
    }

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

.dropdown:hover .dropbtn {
    cursor: pointer;
    }

.drop-icon{
    opacity: 0.3;
}