.playlist-loading {
    position: relative;
    animation: form-load 2.25s ease-in-out;
}

.playlist-loading-header{
    opacity: .6;
    display: flex;
    justify-content: center;
    position: relative;
    animation: form-load-header 2.25s ease-in-out;
    letter-spacing: 5px;
    color: white;
}

.playlist-show-header{
    opacity: .6;
    display: flex;
    justify-content: center;
    position: relative;
    animation: form-load-header 2.25s ease-in-out;
    letter-spacing: 5px;
    color: white;
}

.vibe-gif{
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.45);
}

.mood-playlist{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.playlist-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;

}

.playlist-show-widget {
    width: 800px;
    border-radius: 10px;
    opacity: 1;
    animation: form-load 4s ease-in-out;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.45);
}

.playlist-func-button-wrapper{
    margin: 10px;
    width: 800px;
    display: flex;
    // justify-content: flex-start;
}

.playlist-func-button{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 7.5px;
    background-color: rgba(240, 240, 240, 0.3);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    display: flex;
    animation: form-load 2.25s ease-in-out;

    &:hover{
        cursor: pointer;
        background-color: rgba(240, 240, 240, 0.5);
    }
}