.quiz-wrapper {
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    bottom: 45px;
  }
  
  .quiz { 
    // overflow: auto;
    background: rgba(240, 240, 240, 0.52);
    border-radius: 5px;
    width: 800px;
    // height: 60%; 
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: form-load-header 2s ease-in-out;
  }

  .question-section{
    position: relative;
    // border: 1px solid black;
    height: 150px;
    width: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .question-text{
    // border: 1px solid rebeccapurple;
    text-align: center;
  }
  
  .quiz-answers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
  }
  
  
  .quiz-answer{
    // background-color: white;
    background: rgba(240, 240, 240, 0.52);
    position: relative;
    color: black;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 21px;
    font-weight: 500;
    transition: .325s ease-in-out;
    white-space: pre-line;
    // transition: box-shadow 0.25s ease-in-out;

    &:hover{
      background: rgba(240, 240, 240, 0.9);
      margin-top: 5px;
      box-shadow: 0px 0px 15px 8px rgba(148, 148, 148, 0.5);
      cursor: pointer;
    }
  }

  .quiz-answer-text {
    width: 85%;
  }

  @media only screen and (max-height: 830px) {
    .quiz-wrapper {
      height: 100%;
    }
    .question-section{
      height: 15%;
      margin-top: 15px;
      margin-bottom: 10px;
      width: auto;
    }
    .quiz{
      height: 85%;
      margin: 0;
      display: block;
    }

    .quiz-answers{
      height: 30%;
    }

    .quiz-answer{
      // height: 100%;
      margin: 5px 20px;
    }

    

    .quiz-answer-text{
      font-size: 3vh;
    }
  }

  @media screen and (max-height: 800px) {
    .quiz{
      height: 100%;
    }

    .quiz-answer{
      height: 100%;
    }
  }

  // @media screen and (max-height: 540px){
  //   .question-text{
  //     font-size: 6vh;
  //   }
  // }