.quiz-wrapper {
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .quiz { 
    background: rgba(240, 240, 240, 0.52);
    border-radius: 5px;
    width: 800px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: form-load-header 2s ease-in-out;
  }

  .question-section{
    // border: 1px solid black;
    height: 150px;
    width: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .question-text{
    // border: 1px solid rebeccapurple;
    text-align: center;
  }
  
  .quiz-answers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  
  .quiz-answer{
    // background-color: white;
    background: rgba(240, 240, 240, 0.52);
    color: black;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 21px;
    font-weight: 500;
    transition: .325s ease-in-out;
    white-space: pre-line;
    // transition: box-shadow 0.25s ease-in-out;

    &:hover{
      background: rgba(240, 240, 240, 0.9);
      margin-top: 5px;
      box-shadow: 0px 0px 15px 8px rgba(148, 148, 148, 0.5);
    }
  }

  .quiz-answer-text {
    width: 85%;
  }