.user-show-header{
    width: 80%;
    text-align: left;
    color: white;
    font-size: 60px;
    opacity: .75;
}

.user-playlists{
    // border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(175, 78, 255, 0.308);
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.35);
    overflow: auto;
    margin-bottom: 70px;
}

.user-show-widget {
    border-radius: 10px;
    opacity: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.45);
    position: relative;
    margin: 0px 10px;
    margin-top: 25px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(206, 205, 205, 0.281);
    height: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(182, 182, 182, 0.281);

  }